.card-body {
  padding: 0px;
  padding-left: 10px;
  padding-top: 10px; }

.fontSize {
  font-size: 13px; }

.left {
  margin-left: 10px; }

.price {
  font-size: 30px;
  color: #275a53;
  font-weight: bold;
  margin: 10px 0px 5px 10px; }

.detail-btn {
  background-color: sandybrown;
  margin-left: 70px;
  padding: 7px 16px;
  border: none;
  background-color: #275A53;
  color: white; }

.price-area {
  margin: 30px 0 20px 0; }
