h5{
    color:#275a53 ;
    text-align: center;
    padding-top: 20px;
    font-size: 15px;
    
}
.h2-style{
    text-align: center;
}
h2{
    font-size: 30px;
    font-weight: bold;
}
.background{
    background-color: rgb(240, 240, 240);
}