.body{
    background: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)), url('https://i.imgur.com/9I5ewDx.jpg');
    background-size: cover;
    background-position: center;
    background-color: #000;
    color: #000;
    height: 350px;
}

h1{
    color: white;
    text-align: center;
    padding-top: 70px;
}

.center{
    text-align: center;
    padding-top: 30px;
}

.input{
    width: 400px;
    padding: 10px;
    height: 45px;
    border-radius: 5px;
}

.button{
    padding: 10px 30px 10px 30px;
    margin-left: 20px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
    font-size: 25pxx;
    border: 1px solid #275A53 ;
    background-color: #275A53;
}