.footer-container {
  background-color: #275A53;
  height: 300px; }

.h4-style {
  font-size: 13px;
  color: white; }

.col1-style {
  margin-top: 60px;
  margin-left: 5px; }

.col2-style {
  margin-top: 30px; }

.footer-container ul {
  list-style: none;
  line-height: 28px; }

.footer-container ul a {
  font-size: 15px;
  color: white; }
